/* Write your CSS here */

.bg-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  background-size: cover;
  height: 100vh;
}

.coin-toss-container {
  background-color: #ffffff;
  padding-top: auto;
  margin: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  max-width: 1500px;
  text-align: center;
}

.heading {
  color: #a35200;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
}
.description {
  color: #334155;
  font-size: 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 26px;
  }
}

.image {
  width: 120px;
  height: 120px;
  margin: 5px;
}

.button {
  background-color: #f9d423;
  padding: 8px;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
}

.state-container {
  margin-top: 30px;
  display: flex;
}

.span {
  margin-right: 30px;
  margin-left: 20px;
}
